@import '../../../variables.scss';

@mixin special_nav_btn($color, $bkgrColor) {
    padding: 1rem 0;
    border: none;
    font-weight: 600;
    color: $color;
    background-color: $bkgrColor;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: $secondary-color;
    z-index: 101;

    .nav {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;

        &_outer {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $secondary-color;
            z-index: 10;
            @media screen and (min-width: $tablet) {
                width: unset;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-decoration: none;
                color: black;
                @media screen and (min-width: $tablet) {
                    justify-content: flex-start;
                    margin-left: calc($header-height/2);
                }

                img {
                    width: 36px;
                    height: 36px;
                    border-radius: 18px;
                }
                span {
                    margin-left: .5rem;
                    font-family: $logo-font;
                    font-size: 2.4rem;
                    letter-spacing: 1px;
                    color: $logo-color;

                }
            }
        }

        &_inner {
            position: absolute;
            top: -32rem; // hidden by default
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: .2rem 0 .3rem;
            background-color: $darkgrey-color;
            transition: transform 1s ease-out;
            z-index: 1;
    
            @media screen and (min-width: $tablet) {
                position: relative;
                top: 0;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-top: 0;
                background-color: $secondary-color;
            }
            
            li {
                .signout_btn,
                >a {
                    display: block;
                    margin: .2rem .4rem;
                    padding: .6rem 0;
                    border: .4rem solid $tertiary-color;
                    border-radius: .6rem;
                    font-family: $title-font;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: $primary-color;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    background-color: $tertiary-color;

                    @media screen and (min-width: $tablet) {
                        display: inline-block;
                        margin: 0 1rem;
                        padding: .2rem .5rem;
                        border: none;
                        color: white;
                        background-color: $secondary-color;
                    }
    
                    &:hover {
                        color: $highlight-color;
                    }
                }

                .my_profile_a {
                    @include special_nav_btn($secondary-color, $quaternary-color);
                }

                .signin_a {
                    @include special_nav_btn($logo-color, $secondary-color);
                }

                .signout_btn {
                    width: calc(100% - .8rem);
                    @include special_nav_btn($logo-color, $secondary-color);
                }
            }
        }

        .show_nav {
            transform: translateY(32rem) translateY($header-height);
        }
    }
}