@import '../../../variables.scss';

.product {
    margin-bottom: 2rem;
    padding: 1rem 1rem 3rem;
    border-radius: 4px;
    background-color: #f4f4f4;

    >h2 {
        font-size: 2rem;
    }

    >img {
        width: 50%;
        margin: auto;
    }

    .price_text {
        margin: 1rem auto;
    }

    >a {
        margin: 4rem auto;
        padding: .5rem .8rem;
        border-radius: 6px;
        font-size: 2rem;
        //letter-spacing: .2rem;
        color: white;
        background-color: #b09067;
        transition: all .3s;

        &:hover {
            color: black;
            background-color: rgba(176, 144, 103, 0.5);
        }
    }
}