@import '../../../variables.scss';

.article_product {
    @media screen and (min-width: $tablet) {
        text-align: left;
    }

    .bold_subtitle {
        font-size: 2rem;
        font-weight: 700;
    }
    .italic {
        font-size: 2rem;
        font-style: italic;
    }
    i {
        margin-top: .5rem;
        font-size: 2.5rem;
        color: rgb(246, 231, 25);
    }

    >select {
        padding: .5rem;
        font-size: 2rem;
        background-color: #f4f4f4;

        >option {
            padding: .5rem;
        }
    }
    .large_text {
        font-size: 4.5rem;
        font-weight: 600;
    }
    .add_to_cart_btn {
        margin-top: 3rem;
        padding: 1rem 1.5rem;
        font-size: 2rem;
        letter-spacing: .2rem;
        background-color: #b09067;
        transition: all .3s;

        &:hover {
            color: black;
            background-color: rgba(176, 144, 103, 0.5);
        }
    }
    .fa_heart {
        color: tomato;
        padding: 0 .5rem;
    }
    .bold {
        font-weight: 700;
    }
}