<section class="detail_section">
    <div>
        <h1>tea[index].label_1</h1>
        <p class="bold_subtitle">tea[index].label_2</p>
        <p class="italic">Ref: tea[index].ref</p>
        <a href="#" class="green">Voir les 56 avis clients</a>
    </div>

    <div>
        <img src="assets/img/products/honey_01_big.jpg" alt="honey_01_big"/>

        <select name="object">
            <option 
                key=""
                value="">Pochette de t.package
            </option>
        </select>

        <p class="large_text">tea[index].price €</p>
        <button class="add_to_cart_btn">Ajouter au panier</button>

        <a href="#" class="green">
            <p><i class="fa_heart"></i>Ajouter à ma liste d'envie</p>
        </a>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid non omnis aperiam quia accusamus repellendus quo reprehenderit  dicta enim, rerum dolorem quisquam, sit rem molestiae, debitis blanditiis quidem ratione?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex repellendus adipisci laudantium exercitationem! 
     Magni natus facere, assumenda quisquam voluptatum beatae mollitia cumque, perspiciatis modi vel harum aliquid! Velit, distinctio saepe adipisci neque numquam fugit, pariatur corporis suscipit accusamus omnis aliquid!</p>
    <p class="bold">Profitez d'une remise de 5% sur la pochette de 500g (prix déjà remisé).</p>
    <p class="bold">Profitez d'une remise de 10% sur le lot de 2 pochettes de 500g (prix déjà remisé).</p>
</section>