<ng-container *transloco="let t">
<article class="cart_item" *ngIf="cartItem">
    <img src="{{imgUrl+'products/honey_01_small.jpg'}}" alt="{{'honey_0'}}"/>

    <div class="info_div">
        <div class="titles_div">
            <h2>{{cartItem.name}}</h2>
            <p class="subtitle_txt">{{cartItem.subtitle}}</p>
            <p class="package_txt">{{ t(trPath+'.size', { size: cartItem.size }) }}</p>
        </div>

        <div class="quantity_price_div">
            <div class="quantity_delete_div">
                <div class="counter">
                    <button><fa-icon [icon]="faMinus"></fa-icon></button>
                    <input type="text" ngModel=""/>
                    <button><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>

                <button class="delete_btn"><fa-icon [icon]="faTrashCan"></fa-icon></button>
            </div>
            
            <span class="price">{{cartItem.price}} €</span>
        </div>
    </div>
</article>
</ng-container>