<ng-container *transloco="let t">
<article class="cart_item" *ngIf="cartItem">
    <img src="{{imgUrl+'products/honey_01_small.jpg'}}" alt="{{'honey_0'}}"/>

    <div class="info_div">
        <div class="titles_div">
            <h2>{{cartItem.name}}</h2>
            <p class="package_txt">{{ t(trPath+'.size', { size: cartItem.size }) }}</p>
            <p>{{cartItem.price}} € {{ t(trPath+'.price')}}</p>
        </div>

        <div class="quantity_price_div">
            <div class="quantity_delete_div">
                <app-quantity-counter 
                    [cartItem]="cartItem"
                    [itemIndex]="itemIndex"></app-quantity-counter>

                <button class="delete_btn" (click)="deleteCartItem()">
                    <fa-icon [icon]="faTrashCan"></fa-icon>
                </button>
            </div>
            
            <p class="price">{{cartItem.price}} €</p>
        </div>
    </div>
</article>
</ng-container>