<div class="lang_selector">
    <button (click)="toggleLangMenu()" class="current_lang_btn">
        <img [src]="currentLang.imgUrl" [alt]="currentLang.name" />
        <!--<span>{{currentLang.shorthand}}</span>-->
    </button>

    <div *ngIf="showLangMenu" class="lang_menu">
        <button
            *ngFor="let language of languagesLists"
            (click)="changeLanguage(language.code)"
            class="lang_btn">
                <img [src]="language.imgUrl" [alt]="language.name" />
                <!--<span>{{language.shorthand}}</span>-->
        </button>
    </div>
</div>