<ng-container *transloco="let t">
    <section class="text_section">
        <h1>{{ t(trPath+'.title') }}</h1>
        <p>{{ t(trPath+'.text') }}</p>
    
        <div class="contact_details">
            <div class="detail_ctn">
                <span>
                    <fa-icon [icon]="faPhone" class="icon">phone</fa-icon>
                </span>
                <span>+1 (234)567-890</span>
            </div>
    
            <div class="detail_ctn">        
                <span>
                    <fa-icon [icon]="faEnvelope" class="icon">e-mail</fa-icon>
                </span>
                <span>mymail&commat;fotohunet.com</span>
            </div>
    
            <div class="detail_ctn">
                <span>
                    <fa-icon [icon]="faMapMarkerAlt" class="icon">address</fa-icon>
                </span>
                <address>San Francisco, CA 94107<br/>
                fa795 Folsom Ave, Suite 600</address>
            </div>
    
            <div class="detail_ctn">
                <span>
                    <fa-icon [icon]="faInstagram" class="input_icon">instagram</fa-icon>
                </span>
                <span>test.test</span>
            </div>
        </div>
    
        <div class="form_ctn">
            <h2>{{ t(trPath+'.form.title') }}</h2>
            <p *ngIf="okMsg" class="ok_msg">{{okMsg}}</p>
            <p *ngIf="errMsg" class="err_msg">{{errMsg}}</p>

            <form [formGroup]="checkoutForm" 
                (ngSubmit)="onSubmit()">
                  
                <input type="text" 
                    formControlName="name"
                    placeholder="{{ t(trPath+'.form.namePlaceholder') }}"
                    (focus)="isSubmitted = false"/> 
    
                <input type="email" 
                    formControlName="email"
                    placeholder="{{ t(trPath+'.form.emailPlaceholder') }}"
                    (focus)="isSubmitted = false"/> 
    
                <textarea 
                    formControlName="message"
                    placeholder="{{ t(trPath+'.form.messagePlaceholder') }}"
                    rows="8"
                    (focus)="isSubmitted = false"></textarea>
    
                <button type="submit">{{ t(trPath+'.form.buttonText') }}</button>
            </form>

            <!-- Show validation errors -->
            @if (isSubmitted && !okMsg && !errMsg) {
                @if (nameControl.invalid) {
                    @if (nameControl.hasError('required')) {
                        <div class="err_msg">Name can't be blank</div>
                    }
                    @if (nameControl.hasError('minlength')) {
                        <div class="err_msg">Name is too short (minimum is {{ nameControl.errors!['minlength'].requiredLength }} characters)</div>
                    }
                    @if (nameControl.hasError('maxlength')) {
                        <div class="err_msg">Name is too long (maximum is {{ nameControl.errors!['maxlength'].requiredLength }} characters)</div>
                    }
                    @if (nameControl.hasError('pattern')) {
                        <div class="err_msg">Name can't contain special characters, nor numbers</div>
                    }
                }
                @if (emailControl.invalid) {
                    @if (emailControl.hasError('required')) {
                        <div class="err_msg">Email can't be blank</div>
                    }
                    @if (emailControl.hasError('email') || emailControl.hasError('pattern')) {
                        <div class="err_msg">Email is not valid</div>
                    }
                }
                @if (messageControl.invalid) {
                    @if (messageControl.hasError('required')) {
                        <div class="err_msg">Message can't be blank</div>
                    }
                    @if (messageControl.hasError('minlength')) {
                        <div class="err_msg">Message is too short (minimum is {{ messageControl.errors!['minlength'].requiredLength }} characters)</div>
                    }
                    @if (messageControl.hasError('maxlength')) {
                        <div class="err_msg">Message is too long (maximum is {{ messageControl.errors!['maxlength'].requiredLength }} characters)</div>
                    }
                }
            }
        </div>
    </section>
</ng-container>