<ng-container *transloco="let t">
<section class="sign">
    
    <h1>{{ t(trPath+'.title') }}</h1>

    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="sign_form">

        <label> 
            <fa-icon [icon]="faEnvelope" class="input_icon"></fa-icon>
            <input type="email" 
                    name="email" 
                    placeholder="{{ t(trPath+'.form.emailPlaceholder') }}"
                    formControlName="email"
                    (focus)="clearMessages();"/>
        </label>

        <label> 
            <fa-icon [icon]="faLock" class="input_icon"></fa-icon>
            <input type={{passInputType}}
                    name="password" 
                    placeholder="{{ t(trPath+'.form.pswdPlaceholder') }}"
                    formControlName="password"
                    (focus)="clearMessages()"/>

            <button type="button"
                    class="pass_icon_ctn" 
                    (click)="changePassIcon()">
                <fa-icon [icon]="passIcon" class="pass_icon"></fa-icon>
            </button>    

        </label>
        
        <button type="submit">{{ t(trPath+'.form.buttonText') }}</button> 
    </form>

    <!-- Show validation errors -->
    @if (isSubmitted) {
        @if (emailControl.invalid) {
            @if (emailControl.hasError('required')) {
                <div class="err_msg">Email can't be blank</div>
            }
            @if (emailControl.hasError('email') || emailControl.hasError('pattern')) {
                <div class="err_msg">Email is not valid</div>
            }
        }
        @if (passwordControl.invalid) {
            @if (passwordControl.hasError('required')) {
                <div class="err_msg">Password can't be blank</div>
            }
            @if (passwordControl.hasError('minlength')) {
                <div class="err_msg">Password is too short (minimum is {{ passwordControl.errors!['minlength'].requiredLength }} characters)</div>
            }
            @if (passwordControl.hasError('maxlength')) {
                <div class="err_msg">Password is too long (maximum is {{ passwordControl.errors!['maxlength'].requiredLength }} characters)</div>
            }
            @if (passwordControl.hasError('pattern')) {
                <div class="err_msg">Password must contain at least 1 uppercase letter, 1 lowercase letter and 1 number</div>
            }
        }
    }
    @if (errMsg) {
        <div class="err_msg">{{errMsg}}</div>
    }

    <p class="redirect_txt">{{ t(trPath+'.notHaveAccount') }} <a routerLink="/signup">{{ t(trPath+'.createAccount') }}</a></p>

</section>
</ng-container>