<ng-container *transloco="let t">
<section class="detail_section" *ngIf="honey && packagings?.length">
    <div class="main_info_div">
        <div>
            <h1>{{honey.name}}</h1>
            <p class="bold_subtitle">{{honey.subtitle}}</p>
        </div>

        <div>
            <fa-icon [icon]="faStar"></fa-icon>
            <a href="#" class="green">{{ t(trPath+'.reviews', { reviewsNumber: 454 }) }}</a>
        </div>
    </div>

    <div class="bottom_info_div">
        <img src="{{imgUrl+'products/honey_0'+honey.id+'_big.jpg'}}" alt="{{'honey_0'+honey.id}}"/>

        <select (change)="onChangeSelect($event)">
            <option 
                *ngFor="let packaging of packagings; index as i"
                [value]="i">
            {{ t(trPath+'.package', { size: packaging.size }) }}
            </option>
        </select>

        <p class="large_text">{{packagings[selectedPackIndex].price}} €</p>

        <button class="add_to_cart_btn" (click)="addToCart()">
            <fa-icon [icon]="faCartShopping"></fa-icon>{{ t(trPath+'.addToCart') }}
        </button>

        <button class="add_to_wishlist_btn">
            <p><fa-icon [icon]="faHeart"></fa-icon>{{ t(trPath+'.addToWishList') }}</p>
        </button>
    </div>

    <div class="detailed_description_div">
        <p>{{honey.description}}</p>
        <p class="discount">{{ t(trPath+'.smallDiscount') }}</p>
        <p class="discount">{{ t(trPath+'.bigDiscount') }}</p>
    </div>
</section>
</ng-container>