<section class="detail_section">
    <div class="main_info_div">
        <div>
            <h1>{{honey.name}}</h1>
            <p class="bold_subtitle">{{honey.subtitle}}</p>
            <p class="italic">Ref: honey[index].ref</p>
        </div>

        <div>
            <fa-icon [icon]="faStar"></fa-icon>
            <a href="#" class="green">Voir les 56 avis clients</a>
        </div>
    </div>

    <div class="bottom_info_div">
        <img src='{{"assets/img/products/honey_0"+honey.id+"_big.jpg"}}' alt='{{"honey_0"+honey.id}}'/>

        <select name="object">
            <option 
                key=""
                value="">Pot de t.package
            </option>
        </select>

        <p class="large_text">{{honey.price}} €</p>

        <button class="add_to_cart_btn">Ajouter au panier</button>

        <a href="#" class="green">
            <p><fa-icon [icon]="faHeart"></fa-icon>Ajouter à ma liste d'envie</p>
        </a>
    </div>

    <div class="detailed_description_div">
        <p>{{honey.description}}</p>
        <p class="discount">Profitez d'une remise de 5% sur le lot de 3 pots de 250g (prix déjà remisé).</p>
        <p class="discount">Profitez d'une remise de 10% sur le lot de 2 pots de 500g (prix déjà remisé).</p>
    </div>
</section>